.my-bg-color {
    background-color: #FCEAE8;
}
.my-btn-color {
    background-color: #FF4690;
    color: white;
}
.text-color {
    color: #FF4690;
}
.footer-bg-color {
    background-color: #fceae8;
}